<nav>
  <ul class="navbar">
    <div class="nav-brand-containter">
      <li>
        <a routerLink="/home" class="navbar-brand">PW-Vault</a>
      </li>
    </div>
    <button class="hamburger-menu" (click)="toggleMenu()">☰</button>
    <div class="nav-link-container" [ngClass]="{'open': isMenuOpen}">
      <li *ngIf="!authService.isAuthenticated()">
        <a routerLink="/login" class="nav-link" (click)="toggleMenu()" [ngClass]="{'open': isMenuOpen}">Login</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a routerLink="/register" class="nav-link" (click)="toggleMenu()" [ngClass]="{'open': isMenuOpen}">Register</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a routerLink="/create" class="nav-link" (click)="toggleMenu()" [ngClass]="{'open': isMenuOpen}">Create</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a routerLink="/account" class="nav-link" (click)="toggleMenu()" [ngClass]="{'open': isMenuOpen}">Account</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a class="nav-link" (click)="toggleMenu()" (click)="logout()" [ngClass]="{'open': isMenuOpen}">Logout</a>
      </li>
      <li>
        <a routerLink="/contact" class="nav-link" (click)="toggleMenu()" [ngClass]="{'open': isMenuOpen}">Contact</a>
      </li>
    </div>
  </ul>
</nav>
