<div class="login-card">
  <div class="login-title-container">
    <h1 class="login-title">
      Login
    </h1>
  </div>
  <form (submit)="login()">
    <div class="login-form-container">
<div class="login-form">
      <label class="login-form-label">
        Username
      </label>
      <input class="login-input"
             type="text"
             [(ngModel)]="user.UserName"
             name="UserName"
             placeholder="Username">

      <label class="login-form-label">
        Passwort
      </label>
      <input class="login-input"
             type="password"
             [(ngModel)]="user.Password"
             name="Password"
             placeholder="Passwort">
</div>
    </div>
    <app-default-button type="submit" [buttonText]="'Login'" [buttonClass]="'login-button'"
    ></app-default-button>
  </form>

</div>
