@font-face {
  font-family: 'pirulen';
  src: url("assets/fonts/pirulen.otf");
}

@font-face {
  font-family: 'glitch';
  src: url("assets/fonts/Glitch.ttf");
}

@font-face {
  font-family: 'crush';
  src: url("assets/fonts/Crush.ttf");
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(to right top, #124348, #17555b, #1c676f, #217a83, #268d98, #3c9ca7, #4fabb7, #61bbc7, #80cbd5, #9cdae3, #b7eaf1, #d2faff);
  background-size: cover;
  background-repeat: no-repeat;

}

:root {
  --pirulen: 'pirulen', sans-serif;
  --glitch: 'glitch', sans-serif;
  --crush: 'crush', sans-serif;

  --light-sky-blue: #36C8D9;
  --sky-blue: #34C1D0;
  --teal-blue: #2DA7B5;
  --dark-teal: #23828C;
  --deep-sea: #1B626A;
  --midnight-blue: #124348;
  --shadow: #59434F;
  --error: #f87d7d;
  --success: #89f87d;
  --headline: #651943;
  --text-highlighted: #824A21;
  --text: #D7A47D;
}
